@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/BebasNeuePro-Bold.woff2') format('woff2'),
       url('../assets/fonts/BebasNeuePro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../assets/fonts/leaguespartan-bold.woff2') format('woff2'),
       url('../assets/fonts/leaguespartan-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$bebasNeue: 'Bebas Neue', Arial, sans-serif;
$leagueSpartan: 'League Spartan', Arial, sans-serif;
