.button {
  min-width: fit-content;
  max-width: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: $cl-blue;
  margin: 0;
  padding: .8rem 1.5rem;
  transition-duration: 150ms;
  padding: .8rem 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: $cl-yellow;
    color: $cl-blue;
  }
  &--bordered {
    border: 1px solid $cl-white;
  }
  &--small {
    font-size: 1rem;
  }
}