.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__label {
    display: none;
  }
  &__input {
    padding: .5rem .8rem;
    border: none;
    margin: .5rem 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: $bebasNeue;
    &::placeholder {
      font-family: $bebasNeue;
      font-weight: normal;
    }
  }
  &__button {
    width: 100%;
    min-width: 10rem;
    background-color: $cl-yellow;
    color: $cl-blue;
    border-radius: 0;

    margin-top: .5rem;
    font-size: 1.3rem;
    font-family: $leagueSpartan;
    font-weight: 100;
  }
}