.faIcon {

  font-size: .8rem;
  margin: auto .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 1rem;
  aspect-ratio: 1 / 1;
  &--circle {
    border-radius: 50%;
    color: $cl-white;

  }
  &--black {
    background: $cl-black;
    border: solid .25rem $cl-black;
  }
  &--blue {
    background: $cl-blue;
    border: solid .25rem $cl-blue;
  }
}