.contactForm {
  background: $cl-blue;
  color: $cl-white;
  padding: 3rem;

  &__title {
    text-align: center;
    font-family: $leagueSpartan;
  }
  &__description {
    text-align: center;
    font-family: $bebasNeue;
    font-weight: 400;
  }
}

.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 6rem;
  overflow: hidden;
}

.presentation {
  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    &--column {
      width: 50%;
      padding: 0 3rem;
    }
  }
  &__contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__description {
    margin: auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__contactForm {

  }

  &__text {
    font-family: $bebasNeue;
  }



}