.contactForm {
  background: $cl-blue;
  color: $cl-white;
  padding: 3rem;

  &__title {
    text-align: center;
    font-family: $leagueSpartan;
  }
  &__description {
    text-align: center;
    font-family: $bebasNeue;
    font-weight: 400;
  }
}

