.info {
  background-color: $cl-blue;
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  & p {
    max-width: $breakpoint-desktop;
    margin: 0 auto;
  }
  &__button {
    width: 50%;
    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
      margin: 1rem 0;
    }
  }
  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}