.presentation {
  padding-bottom: 2rem;
  grid-template-rows: minmax(auto, 6rem);
  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
      margin: 2rem 0;
    }
    &__column {
      width: 50%;
      padding: 0 3rem;
      @media screen and (max-width: $breakpoint-tablet) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      &--center {
        display: flex;
        justify-content: center;
      }
    }
  }
  &__contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin-top: 2rem;
  }
  &__description {
    margin: auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (max-width: $breakpoint-tablet) {
      margin: auto 1rem;
    }
  }
  &__contactForm {

  }
  &__list {
    font-size: 1.5rem;
    & li {
      position: relative;
      margin-left: 2.5rem;
    }
    & .faIcon {
      position: absolute;
      left: -2rem;
      top: .5rem;
      margin: auto 0;
      height: 1rem;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__text {
    font-family: $bebasNeue;
    font-size: 2rem;
    @media screen and (max-width: $breakpoint-tablet) {
      text-align: center;
    }
  }
  &__title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-variant-caps: all-small-caps;
    & h1 {
      margin: 0;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      margin: 1rem 0;
      text-align: center;
      & h1 {
        margin: 0;
      }
    }
  }

  &__logo {
    position: relative;
    width: 14rem;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin: 3rem;
    margin-top: 6rem;
    @media screen and (max-width: $breakpoint-tablet) {
      margin: 0 auto;
    }
  }

  &__benefitsList {
    & ul {
      padding: 0;
    }
    & li {
      list-style: none;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      margin: 1rem 0;
    }
  }



}
