.programs {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background: $cl-blue;
  &__body {
    display: flex;
    justify-content: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
      padding-bottom: 2rem;
    }
  }
  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    color: $cl-white;
    & h2 {
      font-size: 2.5rem;
      margin: 0;
      font-variant-caps: all-small-caps;
      text-align: center;
      padding: .5rem;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      min-height: 12rem;
      margin-top: 1.5rem;
      & h2 {
        padding: 0rem;
      }
    }
  }
}

.program {
  display: flex;
  flex-direction: column;
  width: 15%;
  max-width: 20%;
  justify-content: center;
  align-items: center;
  color: $cl-white;
  margin: 0 1rem;
  text-align: center;
  @media screen and (max-width: $breakpoint-tablet) {
    width: 80%;
    max-width: 80%;
    margin: 2rem 1rem;
  }
  &__image {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
  }
  &__cuestion {
    min-height: 8rem;
    height: 8rem;
    @media screen and (max-width: $breakpoint-tablet) {
      min-height: 5rem;
      height: 5rem;
    }
  }
  &__name {
    margin: .5rem auto;
    text-transform: uppercase;
    min-height: 3rem;
    height: 3rem;
  }
  &__title {
    min-height: 3rem;
    height: 5rem;
    @media screen and (max-width: $breakpoint-tablet) {
      min-height: 2rem;
      height: 2rem;
    }
  }
  &__button {
    min-height: 3rem;
    height: 3rem;
    margin-top: 5rem;

    @media screen and (max-width: $breakpoint-tablet) {
      min-height: 2rem;
      height: 2rem;
    }
  }

}